name: amalgamation

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  amalgamation-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: check-amalgamation
        run: make check-amalgamation
      - name: check-single-include
        run: make check-single-includes
